form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

form label {
  flex: 0 0 100%;
}

form input[type="text"] {
  flex-basis: 70%;
}

form .btn {
  flex-basis: calc(30% - 10px);
}

form .btn-disabled:hover {
  cursor: not-allowed;
}

form .btn-enabled:hover {
  cursor: pointer;
}
